
* {
	margin:0;
	padding:0;	
}

body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;	
}

#principal {
	width:100%;
	background:#f5f5f5 url(./images/logo_formquiz.png) no-repeat 10px;
	height:150px;
	box-shadow: 0px 3px 5px #e0e0e0;
	clear:both;
}	

#principal form {
	height:100px;	
}

#top-menu {
	float:left;
	margin-left: 200px;	
}

#top-menu ul {
	list-style:none;
	height:100px;
	padding:35px;
}	

#top-menu ul li{
	display:inline;
	margin-left:5px;
}

#top-menu select, #top-menu input{
	font-size:12px;
	padding:10px;
}

#top-menu select option {
	background:#00ccff;
	color:#fff;	
}

#top-menu input[type=button]{
	background-color:#00ccff;
	color:#fff;
	font-weight:bold;
	border:2px solid #fff;
	cursor:pointer;
	margin: 4px;
}

#top-menu #numero-elementos{
	display:none;
}
#numElementos {
	width: 40px;
}

/*SECCIONES DEL BODY */

#contenido {
	width:100%;	
	margin:0 auto;
	padding:0;
}

#code {
	margin:0 auto;
	width:85%;	
}

#code #source-code {
	border: none;
	min-height:400px;	
	padding: 10px;
	overflow-x: auto;
	background-color: #FBF9EA;
	border: 1px solid #E2E1D5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 0px;	
	font-family:"Courier New", Courier, monospace;	
}

#source-code ul {
	list-style-type:none;
	position:relative;	
}

#source-code ul li {
	position:relative;
	float:left;
	clear:both;
	margin-bottom:10px;
}

#source-code ul li > label {
	position:relative;
	float:left;
	width:100px;
}
#source-code textarea {
	width:100%;
	margin-bottom: 2em;
}

#contenido h1 {
	width:100%;
	text-align:center;	
	border-bottom: 1px dotted #f1f1f1;
	padding:10px;
}




